# dependencies
node_modules/
indra/node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
indra/.next/
out/
indra/out/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Temp
.DS_Store
*.pem
Thumbs.db

# Env files
.env*.local
.env
